<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible'
        content='ie=edge'>
  <title>Basic usage demo</title>
  <link rel='stylesheet'
        href='http://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common.min.css' />
  <link rel='stylesheet'
        href='http://kendo.cdn.telerik.com/2018.3.911/styles/kendo.default.min.css' />
  <link rel='stylesheet'
        href='http://kendo.cdn.telerik.com/2018.3.911/styles/kendo.default.mobile.min.css' />
  <link rel='stylesheet'
        href='/assets/examples.css'>
  <script src='http://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js'></script>
  <script src='http://kendo.cdn.telerik.com/2018.3.911/js/kendo.ui.core.min.js'></script>
  <script src='/out/kendo-core-components.js'></script>
</head>

<body>
  <div id="example">
    <k-splitter orientation='vertical'
                panes='[
                {collapsible:false},
                {collapsible:false,
                  size:"100px"},
                {collapsible:false,
                  resizable:false,
                  size:"100px"}]'>
      <div id="top-pane">
        <k-splitter id="horizontal"
                    style="height: 100%; width: 100%;"
                    panes='[
                    {collapsible:true},
                    {collapsible:false},
                    {collapsible:true}]'>
          <div id="left-pane">
            <div class="pane-content">
              <h3>Inner splitter / left pane</h3>
              <p>Resizable and collapsible.</p>
            </div>
          </div>
          <div id="center-pane">
            <div class="pane-content">
              <h3>Inner splitter / center pane</h3>
              <p>Resizable only.</p>
            </div>
          </div>
          <div id="right-pane">
            <div class="pane-content">
              <h3>Inner splitter / right pane</h3>
              <p>Resizable and collapsible.</p>
            </div>
          </div>
        </k-splitter>
      </div>
      <div id="middle-pane">
        <div class="pane-content">
          <h3>Outer splitter / middle pane</h3>
          <p>Resizable only.</p>
        </div>
      </div>
      <div id="bottom-pane">
        <div class="pane-content">
          <h3>Outer splitter / bottom pane</h3>
          <p>Non-resizable and non-collapsible.</p>
        </div>
      </div>
    </k-splitter>
    <style>
      #vertical {
        height: 880px;
        margin: 0 auto;
      }

      #middle-pane {
        color: #000;
        background-color: #ccc;
      }

      #bottom-pane {
        color: #000;
        background-color: #aaa;
      }

      #left-pane,
      #center-pane,
      #right-pane {
        color: #000;
        background-color: #eee;
      }

      .pane-content {
        padding: 0 10px;
      }
    </style>
  </div>

</body>

</html>