<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible'
        content='ie=edge'>
  <title>MVVM demo</title>
  <link rel='stylesheet'
        href='http://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css' />
  <link rel='stylesheet'
        href='http://kendo.cdn.telerik.com/2020.2.617/styles/kendo.default.min.css' />
  <link rel='stylesheet'
        href='http://kendo.cdn.telerik.com/2020.2.617/styles/kendo.default.mobile.min.css' />
  <link rel='stylesheet'
        href='/assets/examples.css'>
  <script
          src='http://kendo.cdn.telerik.com/2020.2.617/js/jquery.min.js'></script>
  <script
          src='http://kendo.cdn.telerik.com/2020.2.617/js/kendo.ui.core.min.js'></script>
  <script src="/assets/console.js"></script>
  <script
          src='/out/kendo-core-components.js'></script>
</head>

<body>
  <div id="example">
    <div class="demo-section k-content">
      <div class="box-col"
           style="width: 340px">
        <span class="configHead">Open or close
          the
          dialog</span>
        <k-dialog title="Software Update"
                  width="450"
                  actions="[{text:'Skip this version', action: onSkip},
                      { text: 'Remind me later', action: onRemind },
                      { text: 'Install update', action: onInstall, primary: true }]"
                  modal="false"
                  content="<p>A new version of <strong>Kendo UI</strong> is available. Would you like to download and install it now?<p>"
                  data-bind="visible: isVisible,
                      events: {
                        close: onClose
                      }">
        </k-dialog>
      </div>
      <div class="box-col console-section">
        <h4>Console</h4>
        <div class="console"></div>
      </div>
    </div>
    <div class="box">
      <div class="box-col"
           style="width: 340px">
        <h4>Configuration</h4>
        <div>
          <button id="show"
                  data-role="button"
                  class="k-button k-primary"
                  data-bind="click: show, enabled: isEnabled">Open
            the dialog</button>
        </div>
      </div>
    </div>
    <script>
      var viewModel = kendo.observable({
        isVisible: true,
        isClosable: true,
        isEnabled: false,
        onClose: function (e) {
          this.set("isVisible", false);
          this.set("isEnabled", true);
        },
        show: function (e) {
          this.set("isVisible", true);
          this.set("isEnabled", false);
        },

      });

      function onSkip(e) {
        kendoConsole.log("Action :: Skip this version");
      }

      function onRemind(e) {
        kendoConsole.log("Action :: Remind me later");
      }

      function onInstall(e) {
        kendoConsole.log("Action :: Install update");
      }

      $(function () {
        kendo.bind($("#example"), viewModel);
      });
    </script>
  </div>
</body>

</html>